<p>{{calc.total}}</p>
<calc-num-button [value]="1" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="2" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="3" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="4" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="5" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="6" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="7" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="8" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="9" [(calc)]="calc"></calc-num-button>
<calc-num-button [value]="0" [(calc)]="calc"></calc-num-button>


